*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body{
    background-color: #80a1c2;
    background: linear-gradient(to bottom, #c7dec3, #316196);
    /*background: linear-gradient(to bottom, #abd398, #316196);*/
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
}